<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ExoTradeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exotrade">


        <activity android:name=".activities.MainHostActivity" />
        <activity android:name=".activities.NoInternetActivity" />
        <activity android:name=".activities.UpdateRequiredActivity" />
        <activity android:name=".activities.admin.AdminActivity" />
        <activity android:name=".activities.auth.CreateAccount" />
        <activity
            android:name=".activities.auth.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.breeding.BreedingFeed"
            android:launchMode="singleTask" />
        <activity android:name=".activities.breeding.BreedingListingDetails" />
        <activity android:name=".activities.breeding.CreateBreedingListing" />
        <activity android:name=".activities.breeding.MyBreedingListings" />
        <activity android:name=".activities.listings.EditListing" />
        <activity android:name=".activities.listings.ListingDetails" />
        <activity android:name=".activities.messaging.ChatActivity" />
        <activity android:name=".activities.profile.EditAccount" />
        <activity android:name=".activities.profile.FriendsActivity" />
        <activity android:name=".activities.profile.Profile" />
        <activity android:name=".activities.profile.SettingsActivity" />

    </application>

</manifest>
